@import "~react-vis/dist/style";
/* fjalla-one-regular - latin */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nobull {
  list-style-type: none;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
}

h2 {
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
}

p {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
}
